/**
* Styles by Mohsen Dehghani.
*/

/* #ff6c5d Red
   #34383b
   #383c3f
   text on dark:
   #747c82
   Accent color:
   #0586A6
 */

body{font-family:"Open Sans"; direction:ltr;}
a:hover{text-decoration:none;}
/*a:focus{color:transparent;}*/
.upside-bar{width:100%; height:35px; background:#383c3f;}
.upside-bar address{height:100%; float:left;}
header{width:100%; height:55px; background:#2c2f33;}
header > nav, header > nav > ul{height:100%;}
header > nav > ul > li{height:100%; margin-right:20px; list-style:none; float:left;}
header > nav > ul > li > a{height:100%; line-height:55px; font-family:"Open Sans"; font-size:14px; font-weight:bold; color:#ff6c5d; transition:all 250ms ease-in;}
header > nav > ul > li > a:hover{/*color:#d9534f;*/color:#ea5245;}
header > nav > .sign > li{float:right;}
header > nav > .sign > li > a{font-weight:normal; color: #0596b8;}
header > nav > .sign > li > a:hover{color: #06c8f3;}
.bg-header{width:100%; height:450px; background:url(../images/bg.jpg) no-repeat center center / cover;}
.texts article{min-height:255px; margin:40px 0; line-height:22px;}

/*.panel-default{border:solid 1px #ccc;}*/

.panel-heading{width:100%; height:38px; font-family:"Open Sans"; font-size:14px; padding: 10px 15px; /*background:#f5f5f5;*/
    color:#181818;}
.account-panel{margin-top:15px;}
.panel-body .message{font-family:"Open Sans"; text-align:center;}
.form-group{width:100%; margin-top:9px; margin-bottom:9px; min-height:35px; float:left;}
.form-group .control-label{margin-bottom:0;}
.form-group label{text-align:right;}
.form-group .control-label{margin-top:8px;}
.form-group.form-remember{margin-bottom:5px; height:24px;}
.form-group.form-remember label{font-weight: normal; margin-left:7px;}
.form-group.form-submit{margin-top:3px;}
.form-group label, .form-group input{float:left;}
.form-group input[type=text], .form-group input[type=password]{width:100%;}

footer{width:100%; height:50px; background:#34383b;}
footer .container{color:#747c82; line-height:50px;}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans-Regular.woff2) format('woff2'), url(../fonts/OpenSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff2) format('woff2'), url(../fonts/OpenSans-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/OpenSans-Italic.woff2) format('woff2'), url(../fonts/OpenSans-Italic.woff) format('woff');
}
