<div class="upside-bar">
    <div class="container">
        <address class="col-lg-7"></address>
        <div class="col-lg-5"></div>
    </div>
</div>

<header>
    <nav class="container">
        <ul class="menu col-md-7 col-xs-8">
            <li><a href="/">Home</a></li>
            <li><a href="/bookmark">Bookmark</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Our Goals</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>

        <ul class="sign col-md-5">
            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
        </ul>
    </nav>
</header>